{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "phpVersion": "7.4",
        "trailingCommaPHP": true,
        "braceStyle": "psr-2"
      }
    },
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "parser": "html",
        "printWidth": 100
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
